* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.center {
    display: block;
    width: 100%;
  }

/* CSS grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px auto auto auto auto;
    grid-template-areas: 
      "header header" 
      "omslagsbild omslagsbild"
      "omglass omglass"
      "vänster höger" 
      "vänster1 höger1"
      "footer footer";
}
.header {
    grid-area: header;
}
.omslagsbild {
    grid-area: omslagsbild;
}
.omglass {
    grid-area: omglass;
}
.vänster {
    grid-area: vänster;
    justify-self: right;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 560px;
}
.höger {
    grid-area: höger;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 560px;
}
.vänster1 {
    grid-area: vänster1;
    justify-self: right;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
}
.höger1 {
    grid-area: höger1;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
}
.footer {
    grid-area: footer;
}

/* Navbar start */
.navbar {
    font-size: 16px;
    background: rgb(255, 255, 255);
    padding-bottom: 10px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: center;
}
.main-nav {
    list-style-type: none;
    display: flex;
    margin-right: 200px;
}
.nav-links {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    margin-left: 40px;
}
.main-nav li {
    text-align: center;
    margin: 10px auto;
}
.logo {
    font-size: 20px;
    margin-left: 100px;
    text-decoration: none;
    float: left;
    padding-left: 5px;
    list-style-type: none;
    color: black;
}
.active {
    display: block;
}
a:active {
    opacity: 100%;
}
a:hover {
    opacity: 100%;
}

/* Omslagsbild */
.omslagsbildbild {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 650px;
}

/* Text om glass */
h1 {
    font-size: 48px;
    margin-top: 140px;
    text-align: center;
}
.om-glass {
    font-size: 16px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 140px;
}

h2 {
    font-size: 360;
}
.beskrivning {
    font-size: 40;
    font-weight: 700;
}
