* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400; 
    background-color: white;
}
.center {
    display: block;
    width: 100%;
  }

/* CSS grid */
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px auto auto auto auto auto 250px;
    grid-template-areas: 
      "nav nav" 
      "omslagsbild omslagsbild"
      "omglass omglass"
      "vanster hoger" 
      "vanster1 hoger1"
      "vanster2 hoger2"
      "footer footer";
}
nav {
    grid-area: nav;
    padding-left: 250px;
    padding-right: 250px;
}
omslagsbild {
    grid-area: omslagsbild;
}
omglass {
    grid-area: omglass;
}
vanster {
    grid-area: vanster;
    justify-self: right;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 560px;
}
hoger {
    grid-area: hoger;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 560px;
}
vanster1 {
    grid-area: vanster1;
    justify-self: right;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 560px;
}
hoger1 {
    grid-area: hoger1;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 560px;
}
vanster2 {
    grid-area: vanster2;
    justify-self: right;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 560px;
}
hoger2 {
    grid-area: hoger2;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 560px;
}
footer {
    grid-area: footer;
    margin-top: 100px;
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
}

/* Navbar start */
.navbar {
    font-size: 16px;
    background: #ffa9c6;
    padding-bottom: 10px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.main-nav {
    list-style-type: none;
    display: flex;
    background: #ffa9c6;
}
.nav-links {
    text-decoration: none;
    color: white;
    opacity: 0.8;
    margin-left: 40px;
    background: #ffa9c6;
}
.main-nav li {
    text-align: center;
    margin: 10px auto;
    background: #ffa9c6;
}
.logo {
    font-size: 20px;
    text-decoration: none;
    float: left;
    padding-left: 5px;
    list-style-type: none;
    color: #d01741;
    background: #ffa9c6;
}
.active {
    display: block;
}
a:active {
    opacity: 100%;
}
a:hover {
    opacity: 100%;
}
/* Navbar slut */


  
/* Omslagsbild */
.omslagsbild {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 650px;
}

h1 {
    font-size: 48px;
    margin-top: 140px;
    text-align: center;
}
h2 {
    font-size: 20pt;
    font-weight: 600;
}
.om-glass {
    font-size: 16px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 10px;
}
.beskrivning {
    font-size: 14pt;
    font-weight: 700;
    margin-bottom: 8px;
}

/*Ger tabellen en gräns, bestämmer dess bredd, ger tabellen symetriskt utseende*/
table{
    border-collapse: collapse;
    width: 1000px;
    border-collapse:separate;
    table-layout: fixed;
    border:solid black 1px;
    border-spacing: 0px;  
}

/*Skapar en kant runt olika delar i tabellen, gör dess bredd automatisk, ger varje rad höjden 35px*/
td{
    border: 1px solid black;
    width: auto;
    height: 35px;
}

/*Gör att den högra texten i tabellen centreras*/
td:nth-child(2), td:nth-child(3){
    margin-left: 20px;
    text-align: left;
}

/*Ger varannan rad i tabellen bakgrundsfärgen ljusblå*/
tr:nth-child(odd){
    background-color: lightblue;
}

/*Ändrar bakgrunds- och textfärgen på varannan rad i tabellen*/
tr:nth-child(even){
    background-color: rgb(226, 90, 90);
    color: rgb(0, 0, 0);
}

/*Bestämmer tabellrubrikens textstorlek, vänsterjusterar texten, skapar en marginal under*/
caption{
    font-size: 22px;
    text-align: left;
    margin-bottom: 11px;
}
/*knapp*/
a[href^="https://ingmanglass.se/glass-och-halsan/"]{
    background-color: #a6e891;
    color: white;
    padding: 13px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 140px;
    border-radius: 5px;
    width:8%;
    margin-left:46%;
    margin-right:46%;
}
button {
    background-color: #a6e891;
    border: none;
    color: white;
    cursor: pointer;
}
.centrera {
    margin-left: auto;
    margin-right: auto;
}
caption {
    font-size: 48px;
    margin-top: 140px;
    margin-bottom: 30px;
    text-align: center;
}
footer { 
    background-color: #f0d1a5;
    line-height: 25px;
}
.footer {
    background-color: #f0d1a5;
    color: black;
}
strong {
    font-weight:600
}
.margin {
    margin-bottom: 100px;
}
.produktbilder {
    object-fit: contain;
}